<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/styles.css">
    <title>Star Homes</title>
</head>

<body>
<header class="header">
    <div class="header-one">
        <div class="container">
            <div class="inner-wrap">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span>
                            <strong>0968718703</strong>
                        </span>
                </div>
                <div class="position">
                    <i class="fa-solid fa-location-dot"></i>
                    <strong>Số 131 Trần Phú, Q.Hà Đông, Hà Nội</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="header-two">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="logo">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <span style="font-size: 17px;">STAR HOMES</span>
                    </div>
                </div>
                <div class="col-4 form-search">
                    <div class="search">
                        <form action="/search" method="get">
                            <div class="input-group">
                                <input type="text" name="keyword" placeholder="Bạn đang tìm phòng ở đâu...">
                                <div class="input-append">
                                    <button class="btn-search" type="submit"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 menu-main">
                    <ul class="menu">
                        <li><a href="/home">TRANG CHỦ</a></li>
                        <li class="phong-tro">
                            <a href="#">
                                PHÒNG TRỌ <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <div class="room-list">
                                <a href="/cau-giay">Phòng trọ Cầu Giấy</a>
                                <a href="/thanh-xuan">Phòng trọ Thanh Xuân</a>
                                <a href="/ha-dong">Phòng trọ Hà Đông</a>
                                <a href="/tay-ho">Phòng trọ Tây Hồ</a>
                                <a href="/hoan-kiem">Phòng trọ Hoàn Kiếm</a>
                                <a href="/ba-dinh">Phòng trọ Ba Đình</a>
                                <a href="/dong-da">Phòng trọ Đống Đa</a>
                                <a href="/tu-liem">Phòng trọ Từ Liêm</a>
                                <a href="/hai-ba-trung">Phòng trọ Hai Bà Trưng</a>
                            </div>
                        </li>
                        <li><a href="/form-room">ĐĂNG BÀI</a></li>
                        <li><a href="/phong-cua-toi">PHÒNG CỦA TÔI</a></li>
                        <li><a href="">LIÊN HỆ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="cameo"></div>
<div class="section-two">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="inner-one">
                    <div class="inner-title">
                        Bộ lọc
                    </div>
                    <div class="inner-desc">
                        Mức giá
                        <a href="" id="a1"><i class="fa-regular fa-square-check"></i> Dưới 5 triệu</a>
                        <a href="" id="a2"><i class="fa-regular fa-square-check"></i> 5 đến 10 triệu</a>
                        <a href="" id="a3"><i class="fa-regular fa-square-check"></i> 10 đến 15 triệu</a>
                        <a href="" id="a4"><i class="fa-regular fa-square-check"></i> Trên 15 triệu</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="inner-two">
                    <div class="title" id="title">

                    </div>
                </div>
                <div class="row" id="room">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-one">
    <div class="container">
        <div class="inner-wrap">
            <h3 class="inner-title">
                    <span>
                        <img src="https://cdn.haluta.vn/media/core/logo/icon-leaf.svg" alt="">
                    </span>
                <span>ĐỐI TÁC CỦA STAR HOMES</span>
                <div class="inner-dir"></div>
            </h3>
            <div class="row">
                <div class="col-4">
                    <div class="image-doitac">
                        <img src="assets/images/FAMILY.jpg" alt="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="image-doitac">
                        <img src="assets/images/THINHPHAT.jpg" alt="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="image-doitac">
                        <img src="assets/images/TRUONGTHINH.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    STAR HOMES - DỊCH VỤ HỖ TRỢ THUÊ VÀ CHO THUÊ PHÒNG TRỌ TẠI HÀ NỘI
</footer>
<script type="module" src="/js/room.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
</script>
</body>